<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativesunmiprinter">
    <original-package android:name="woyou.aidlservice.jiuiv5"/>

    <receiver android:name="com.reactnativesunmiprinter.SunmiBroadcastReceiver"
          android:exported="true">
        <intent-filter>
            <action android:name="com.sunmi.scanner.ACTION_DATA_CODE_RECEIVED" />
        </intent-filter>
    </receiver>
</manifest>
